.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
}

/* ------ HEADER SECTION -----------------*/
.header {
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 82rem;
    background-image: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: 21vw -11vw;
    top: 0;
    right: 0;
    z-index: -9999;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}