.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
}

/* ------ HEADER SECTION -----------------*/
.header {
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 82rem;
    background-image: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: 21vw -11vw;
    top: 0;
    right: 0;
    z-index: -9999;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}

/*------- SECTION INTRO ---------*/
.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*------- CONTENT SECTION -------*/

.features {
  position: relative;
  &::before {
    width: 100%;
    height: 81.4rem;
    position: absolute;
    content: '';
    background: url('../images/bg-tablet-pattern.svg') no-repeat;
    background-size: 90% auto;
    background-position: 59vw -16vw;
    z-index: -99;
    right: 0;
    top: -60vw;
  }
}

.features__container {
  padding-top: 6rem;
}

.testimonials__container {
  padding-bottom: 5rem;
}

.get-started {
  background: $BrightRed;
  text-align: center;
  padding: 8rem 0;
  background-image: url('../images/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.footer {
  background: $VeryDarkBlue;
}

.footer__container {
  padding-top: 6rem;
  display: grid;
  row-gap: 4rem;
  grid-template-areas:
    'subscription subscription'
    'nav-one nav-two'
    'socials socials'
    'footer-logo footer-logo'
    'copyright copyright';
}
