.button {
  padding: 1.4rem 3rem;
  font-weight: 700;
  transition: .5s;
}
.button-red {
  background: $BrightRed;
  color: $VeryLightGray;
  box-shadow: 1px 6px 8px #f25f3a63;
  &:hover {
    background: #f38b71;
  }
}
.button-white {
  background: #fff;
  color: $BrightRed;
  &:hover {
    background: #e1e1e1;
  }
}
.section-title {
  text-align: center;
  color: $DarkBlue;
  line-height: 4rem;
}
/*--------------- HEADER -------------------------------*/
.header__logo {
  height: 2rem;
}
.menu-desktop,
.popup-menu,
.header__button {
  display: none;
}
.icon-hamburger {
  background: transparent;
  border: 0;
  @include screen-md {
    display: none;
  }
}
.icon-close {
  z-index: 99;
}
.menu-desktop {
  @include screen-md {
    display: block;
  }
}
.header__button {
  @include screen-md {
    display: block;
  }
}
.menu-desktop__link {
  font-size: 1.3rem;
  padding: 1rem;
  color: $DarkBlue;
  font-weight: bold;
  text-decoration: none;
}

.popup-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: blue;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
}
.menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin: 10rem 2rem;
  padding: 2rem 0;
  border-radius: 4px;
}
.menu-mobile__link {
  color: $DarkBlue;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
}

/* ------------------- section intro ---------------*/

.intro__illustration,
.intro__title,
.intro__paragraph {
  text-align: center;
  @include screen-sm {
    text-align: inherit;
  }
}
.main-intro {
  text-align: center;
  @include screen-sm {
    text-align: initial;
  }
  @include screen-md {
    width: 40rem;
  }
}
.intro__illustration {
  width: 100%;
  max-width: 44.4rem;
  align-self: center;
}
.intro__title {
  color: $DarkBlue;
  @include screen-md {
    font-size: 4.6rem;
    line-height: 5rem;
  }
}
.intro__paragraph {
  color: $DarkGrayishBlue;
  @include screen-md {
    width: 35rem;
  }
}
.intro__button {
  margin: 2rem 0;
}

/*---------- section features ----------------- */

.features-intro {
  text-align: center;
  @include screen-sm {
    text-align: left;
    width: 50%;
  }
}
.features-intro__title {
  @include screen-md {
    text-align: left;
  }
}
.features-intro__paragraph {
  color: $DarkGrayishBlue;
  @include screen-md {
    max-width: 35rem;
  }
}

.feature-content {
  margin-top: 6rem;
  @include screen-sm {
    margin-top: 0;
    width: 50%;
  }
}
.feature {
  margin-top: 4rem;
  &:first-child {
    @include screen-sm {
      margin-top: 0;
    }
  }
}
.feature__title {
  display: flex;
  width: calc(100% + 2rem);
  color: $DarkBlue;
  background: $VeryPaleRed;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50px 0 0 50px;
  overflow: hidden;

  &::before {
    left: 0;
    content: attr(data-number);
    background: $BrightRed;
    z-index: 1;
    width: 6rem;
    height: 100%;
    border-radius: 50px;
    color: $VeryLightGray;
    font-size: 1.6rem;
    text-align: center;
    margin-right: 2rem;
  }

  @include screen-md {
    background: transparent;
  }
}
.feature__paragraph {
  color: $DarkGrayishBlue;
  text-align: left;
  @include screen-md {
    margin-left: 8rem;
  }
}

/* ------------- section testimonials ---------------------- */

.testimonials {
  text-align: center;
}
.testimonials__title {
  margin-bottom: 5rem;
}
.testimonial {
  background: $VeryLightGray;
  margin-top: 3.5rem;
  cursor: grab;
}
.testimonial__name {
  color: $DarkBlue;
}
.testimonial__image {
  width: 7rem;
  margin-top: -3.5rem;
}
.testimonial__quote {
  padding-bottom: 2.5rem;
  color: $DarkGrayishBlue;
}

.testimonial-bullet__button {
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid $BrightRed;
  border-radius: 100%;
  background: transparent;
  padding: 0;
  margin: 0.1rem;
}

.testimonial__button {
  margin-top: 2rem;
}

/* --------- section get-started ---------------*/

.get-started__title {
  color: #fff;
  @include screen-sm {
    max-width: 50%;
    text-align: left;
  }
}
.get-started__button {
  margin-top: 1rem;
  @include screen-md {
    width: 15rem;
    height: 5rem;
  }
}

/* ---------- section footer ----------------- */

.footer__subscription {
  grid-area: subscription;
}
.subscription {
  position: relative;
  display: flex;
  align-self: flex-start;
  @include screen-sm {
    justify-self: end;
  }
}
.subscription__email {
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 25px;
  background: #fff;
  font-size: 1.4rem;
  text-indent: 1rem;
  border: 0;
  margin-right: 1rem;
  color: $DarkGrayishBlue;
}
.subscription__button {
  padding: 1.2rem 3rem;
  box-shadow: 0 0 0 $BrightRed;
}
.subscription__error {
  position: absolute;
  bottom: -3rem;
  left: 1rem;
  font-size: 1.2rem;
  color: red;
  display: none;
}

.nav-list {
  justify-self: center;
  line-height: 4rem;
}

.nav-list__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}
.nav-one {
  grid-area: nav-one;
}
.nav-two {
  grid-area: nav-two;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  grid-area: socials;

  @include screen-sm {
    align-items: flex-end;
    justify-content: space-between;
    max-width: 15rem;
  }
}

.socials__icons {
  width: 2rem;
  height: 2rem;
  transition: .5s;
  fill: #fff;
  &:hover {
    fill: $BrightRed;
  }
}

.footer__logo {
  grid-area: footer-logo;
  justify-self: center;
  align-self: flex-start;
  @include screen-sm {
    justify-self: flex-start;
  }
}
.copyright {
  grid-area: copyright;
  text-align: center;
  line-height: 0;
  color: $DarkGrayishBlue;

  @include screen-sm {
    text-align: right;
    align-self: flex-end;
  }
}
.copyright__paragraph {
  font-size: 1.4rem;
}
