.header__button--hidden {
  display: none;
}
.header__mobile--active {
  display: block;
}
.testimonial-bullet__button--active {
  background: $BrightRed;
}
.subscription__error-active {
  display: block;
}